OAuth2 incorrect Authorization header

I'm using the swagger-js code (within swagger-ui) against an OAuth2 implementation.

I run into some problems which in my opinion should be fixed within the swagger-js code.

From the OAuth2 token endpoint I get a response with the following data:
```
{
  "access_token":"access_token",
  "token_type":"bearer",
  "expires_in":3600,
  "refresh_token":"value of refresh token"
}
```

The swagger-js code makes a request with the following header:
`Authorization: bearer access_token`

The OAuth2 implementation does not accept this header, because of the lowercase "bearer" scheme.

As per RFC 6749 section 4.2.2 the token_type value is case insensitive. So it can be bearer, Bearer, BeArEr, etc.
But per RFC 6750 section 2.1 the Authorization header should have the authorization scheme 'Bearer'.

The authorization scheme should not depend on the token_type returned when fetching an access token.

I think we should revert this change because this could break other implementations and it's not the way any other OAuth clients work (e. g. see http://sgeb.io/posts/2015/05/fix-go-oauth2-case-sensitive-bearer-auth-headers/).

@stefangr's token endpoint does not provide the correct token_type starting with a capital 'B'.
E. g. IBM discovered the same as an issue on their side some time ago: http://www-01.ibm.com/support/docview.wss?uid=swg1PI11907

@Bombenleger thanks for your note, it seems to me that it makes sense and I reverted these changes.

Great, thanks @bodnia!

@Bombenleger
So because another *client* implementation (the go-oauth2 package) is broken and needs a workaround to fix it, the swagger client must be broken again?

That seems very illogical to me.

The fact that IBM supplies a fix on the server side means there are more client implementations broken.

My point is, there are server implementations that return 'bearer' with no capital (which is allowed by the RFC) and expect 'Bearer' with a capital (as the other RFC highly recommends). My PR fixed that problem.

@bodnia I recommend re-aplying my fix to have the client follow the RFCs

@stefangr
I agree there is some confusion about whether using the `token_type` as it is for the Authorization header or always force it to `Bearer`.
Both RFCs [RFC6749](https://tools.ietf.org/html/rfc6749#section-7.1) and [RFC6750](https://tools.ietf.org/html/rfc6750#section-2.1)) are not fully clear about this.

There are a lot of implementations in the world, all handling this differently. So I suggest make this behavior configurable.

Looks like reverting the PR by @stefangr means a correctly implemented OAuth server will fail, which isn't ideal. I think the top priority is ensuring correct implementations to work. Then it's nice to support other implementations that don't 100% comply to the specs. Would be great if it just works without any work from the library users, but if we have to introduce an option, that's definitely something to consider.

No expert on OAuth and the like but the specs are pretty clear.

`token_type` is case insensitive. It can be `bearer` or `Bearer`, doesn't matter.

The `Authorization` token, however, _is_ case sensitive and must be `Bearer` regardless of what's specified in the `token_type` - it's not wrong to change the case because... `token_type` is case insensitive.

That should be the implementation.

We might provide hooks to change those for broken implementations, I don't think this should be a configuration though.

Just a comment for people stuck with this issue, you can write a middleware to transform the bearer to capital B so it can go through oauth-server authorisation

//transform the bearer token to bearer
//https://github.com/swagger-api/swagger-js/issues/1040
app.use(function (req, res, next) {
    var matches = req.headers["authorization"].match(/bearer\s(\S+)/);
    if(matches) {
      console.log('modifying authorization header to capital B');
      req.headers["authorization"]='Bearer '+matches[1];
    }
    next();
});

Any update on this? It's still broken for me.

The `token_type` should be capetalized. Even if it is not received in such a way.

```js
tokenType
    .toLowerCase()
    .replace(/(\s|^)\w/g, x => x.toUpperCase());
```

This was fixed in https://github.com/swagger-api/swagger-js/pull/1156/files :smile: 