External ref that points on YAML file

### Q&A
 - OS: [e.g. macOS]
 - Environment: Node.js v10.15.3
 - Method of installation: npm
 - Swagger-Client version:3.9.4
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration
I have a Java server that exposes my OpenAPI files in YAML.
These files are exposed by using JAXRS where I have to specify @Produces annotation that indicates the file format. In my case is "text/yaml".
When I load my root spec file, swagger-ui tries to load externals files but I have a 406 HTTP error.
When I look the request, I can see that the accept header is "application/json" so the content negociation fails.


### Describe the bug you're encountering
I can fix by replacing "application/json" by "text/yaml" directly from source code (in resolver.js).
I checked this pull request https://github.com/swagger-api/swagger-js/pull/1232 but for me, it is not enough.


Hi @gigaga!

As @webron mentioned in the past, servers are not bound to failing to serve a request when an Accept value doesn't match:

> The Accept header is what the client requests, but the server does not have to comply with that request if it is not familiar with the media type, and can reply with whatever it wants (providing the proper media type in the content-type header, of course). There is no technical limitation of having the client ask for JSON and the server replying with YAML.
> 
> https://github.com/swagger-api/swagger-editor/issues/1558#issuecomment-343305509

Further, we decided in the past to add `application/yaml` to our Accept values instead of `text/yaml`:
> from what i can tell, application/yaml is likely to be the canonical media type for YAML going forward (once the IANA actually gets around to it...), considering that JSON has been assigned application/json and YAML is a superset of JSON.
> 
> https://github.com/swagger-api/swagger-ui/issues/4070#issuecomment-359133389

There's also some older discussion of this in https://github.com/swagger-api/swagger-js/issues/525.

---

I'm going to close this for now — I'd recommend that you reconfigure your application to either be tolerant of Accept values when requesting YAML documents (which is allowed in HTTP), or map YAML to `application/yaml` media types.

Happy to consider any lingering issues you have here, just reply!

Hi @shockey,

Thanks for your reply !

In fact, it is more complicated...

> There is no technical limitation of having the client ask for JSON and the server replying with YAML.

If a server implements strictly the [Content Negociation](https://en.wikipedia.org/wiki/Content_negotiation), the server will return a 406 HTTP error if client ask something that server is not able to honour.

> map YAML to application/yaml media types

If I do that, I have the same problem because client asks only "application/json" (see https://github.com/swagger-api/swagger-js/blob/a65fecb0d801b9f2bc5c683972053eccf8c1d693/src/resolver.js#L16)

If I tell to my server to produce "application/json" (even if it is YAML), in this case the content negocation is valid but it is the parsing that does not work :(


> > If I do that, I have the same problem because client asks only "application/json"

Fair point! I've opened #1478 to make sure that we're always sending the same `application/json, application/yaml` Accept string. This was an oversight on our side.

---

> > If a server implements strictly the Content Negociation, the server will return a 406 HTTP error if client ask something that server is not able to honour.

This is a valid way to do content negotiation, but there's nothing that says you _have_ to send back a 406 Not Acceptable. "Strict" in this case is just an implementation, not strict adherence to a standard.

The HTTP RFC states that servers are allowed to send back default representations if the server can't find a match during content negotiation:

>  The 406 (Not Acceptable) status code indicates that the target resource does not have a current representation that would be acceptable to the user agent, according to the proactive negotiation header fields received in the request (Section 5.3), **and the server is unwilling to supply a default representation**.
> 
> [RFC 7231 § 6.5.6](https://tools.ietf.org/html/rfc7231#section-6.5.6)

For a more practical take, MDN says:

> **In practice, this error is very rarely used**. Instead of responding using this error code, which would be cryptic for the end user and difficult to fix, servers ignore the relevant header and serve [some default representation] to the user. **It is assumed that even if the user won't be completely happy, they will prefer this to an error code.**
> 
> [ref](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/406)

To be clear: I'm not saying that your implementation is incorrect, just highlighting that there is a perfectly legal way to sidestep this 🙂 

Thanks, I will try after your fix :)

It works like a charm, thanks again :)